pkgbase = bootsplash-theme-linux-srbija
	pkgdesc = Simple Manjaro Bootsplash with Android Srbija theme
	pkgver = 1.0
	pkgrel = 1
	arch = x86_64
	license = GPL
	optdepends = bootsplash-systemd: for bootsplash functionality
	options = !libtool
	options = !emptydirs
	source = bootsplash-packer
	source = bootsplash-theme-linux-srbija.sh
	source = bootsplash-theme-linux-srbija.initcpio_install
	source = logo.gif
	source = spinner.gif
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bootsplash-theme-linux-srbija
	pkgdesc = Simple Manjaro Bootsplash with Android Srbija theme

